In [8]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
g_key

'AIzaSyDVKPsLd3tOaX_AVg5ulH59uVRNcGKQ1ck'

In [26]:
#Load the csv exported in Part I to a DataFrame
weather_data = "/Users/rohan/Documents/Homework/APIhw/python-api-challenge/weatherpy/weather_data.csv"
weather_data = pd.read_csv(weather_data)
weather_data.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,port hardy,90,CA,1580085688,93,50.70,-127.42,44.60,6.93
1,tiksi,0,RU,1580085688,69,71.69,128.87,-32.44,2.77
2,kaitangata,92,NZ,1580085688,67,-46.28,169.85,68.00,8.77
3,punta arenas,90,CL,1580085688,58,-53.15,-70.92,53.60,11.41
4,strezhevoy,90,RU,1580085401,84,60.73,77.59,6.80,13.42

In [78]:
#Configure gmaps.
#Use the Lat and Lng as locations and Humidity as the weight.
#Add Heatmap layer to map.
gmaps.configure(api_key=g_key)
locations = weather_data[["Lat", "Lng"]]
humidity = weather_data["Humidity"]
maxhumidity = humidity.max()


# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=maxhumidity,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [79]:
#Narrow down the cities to fit weather conditions.
#Drop any rows will null values.
narrow_df = weather_data.loc[(weather_data["Max Temp"] < 80.00)]
narrow_df = narrow_df.loc[(narrow_df["Max Temp"] > 70.00)]
narrow_df = narrow_df.loc[(narrow_df["Wind Speed"] < 10.00)]
narrow_df = narrow_df.loc[(narrow_df["Cloudiness"] == 0)]
narrow_df = narrow_df.dropna(how='any')


narrow_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
16,busselton,0,AU,1580085238,45,-33.65,115.33,77.00,1.99,
135,chokwe,0,MZ,1580085722,65,-24.53,32.98,79.61,8.19,
151,esperance,0,AU,1580085724,94,-33.87,121.90,71.60,6.93,
184,mangrol,0,IN,1580085734,67,21.12,70.12,70.52,9.13,
464,wawa,0,NG,1580085789,24,9.90,4.42,73.00,7.18,

In [80]:
hotel_df = pd.DataFrame(narrow_df)

hotel_df["Hotel Name"] = ""
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
16,busselton,0,AU,1580085238,45,-33.65,115.33,77.00,1.99,
135,chokwe,0,MZ,1580085722,65,-24.53,32.98,79.61,8.19,
151,esperance,0,AU,1580085724,94,-33.87,121.90,71.60,6.93,
184,mangrol,0,IN,1580085734,67,21.12,70.12,70.52,9.13,
464,wawa,0,NG,1580085789,24,9.90,4.42,73.00,7.18,

In [81]:
target_coordinates = f"{hotel_df['Lat']},{hotel_df['Lng']}"
target_search = "hotel"
target_radius = 5000
target_type = "hotel"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

In [82]:
#creates a list to capture hotel_names to insert into dataframe
hotel_name = []

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# taken from Airpost_Ratings Example done in class
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))
    try:
#         hotel_df.iloc[index, 4] = name_address['results'][0]['name']
        hotel_name.append(name_address['results'][0]['name'])
    except IndexError:
        hotel_name.append(np.nan)

In [83]:
hotel_df['Hotel Name']= hotel_name
hotel_df = hotel_df.dropna()
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
16,busselton,0,AU,1580085238,45,-33.65,115.33,77.00,1.99,Abbey Beach Resort
135,chokwe,0,MZ,1580085722,65,-24.53,32.98,79.61,8.19,Complexo Sonho Real
151,esperance,0,AU,1580085724,94,-33.87,121.90,71.60,6.93,Comfort Inn Bay Of Isles
184,mangrol,0,IN,1580085734,67,21.12,70.12,70.52,9.13,Kaveri Hotel

In [84]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [85]:
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))